
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
p{
    color:antiquewhite
}
.body{
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 

}
/*Todos los estilos y elementos colocados para el login y el register*/
.titulo{
    font-size: 72px;
    color: rgb(24, 27, 17);
    text-align: center;
    margin: 7rem 7rem;
    width: 400px;
    height: auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.contenedorLogin{
    height: auto;
    margin: 2% 30%;
    border-radius: 38px 38px 38px 38px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 
}
.contenedorLoginError{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(255, 0, 0, 0.75);
}
.entradaslogin{
    margin: 20px 1px ;
}
.login_titulo{
    font-size: 40px;
    border-radius: 10px;
    color: #acb6e5; 
    color: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  
    color: linear-gradient(to right, #86fde8, #acb6e5); 
}
.login_titulo_error{
    color: red;
    font-size:x-large ;
    text-align: center;
    margin-top: 10px;
}
.inputs{
    width: 400px;
    height: 3.8rem;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.inputs_dire{
    width: 200px;
    height: 3rem;
    font-size:17px;
    text-align: center;
    border-radius: 10px;
}
.direccion_titulo{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: #86fde8 
    
}
.nuevaCuenta{
    color: antiquewhite;
}

/*Todos los estilos y elementos colocados para el index*/
.navbar{
    overflow: hidden;
    position: fixed; /* Fijar la barra de navegación */
    width: 100%; /* Ocupar el ancho completo */
    top: 0; /* Pegar en la parte superior */
    z-index: 1000;
}
.navbar-brand{
    font-family: 'Rajdhani', sans-serif;
    margin-left: 0;
}
.container-fluid{
    background-color: rgb(128, 22, 22);
}
.content {
    margin-top: 79px; /* Espacio para la barra de navegación fija */
    padding: 46px;
}

.productos{
    display: flex;
    align-items: top;
    flex-wrap: wrap;
}
.accordion-button{
    font-family: 'Comfortaa', sans-serif;
}
.list-group-item{
    font-family: 'Comfortaa', sans-serif;
}
.card{
    margin:10px 10px;
    width: 270px ;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(128, 22, 22)

}
.img-carta{
    max-width: 250px;
    max-height: 200px;
}
.card-title{
    background: #bdc3c7;
    padding: 5px;
    font-family: 'Comfortaa', sans-serif;
}
.card-text{
    background-color: #2b2d2e;
}
.LogoCompra{
    font-size: 55px;
    color:antiquewhite
}
.accordion-collapse {
    transition: visibility 10000000000000000.3s ease-in-out;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item:active {
    cursor: grabbing;
}
.carritoDeCompras{
    background-color: aliceblue;
}
#RealizarCopra{
    background-color: aliceblue;
    color: rgb(24, 27, 17);
    
}
#limpiarCarrito{
    background-color: rgb(128, 22, 22);
    color:antiquewhite
}